.database-searcher {
    width: 90%;
    height: auto;
    background-color: rgb(45, 45, 45);
    border-radius: 10px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    color: white;
    text-shadow: 1px 1px 3px black;
}
.db-hr1 {
    width: 35%;height:2px;
    background-color: rgb(70, 70, 70);
    position: relative;
    margin-top: 5px;
}
.db-hr2 {
    width: 100%;height:2px;
    background-color: rgb(70, 70, 70);
    position: relative;
    margin-top: 25px;
}
.db-hr3 {
    width: 100%;height:2px;
    background-color: rgb(70, 70, 70);
    position: relative;
    border:none;
}
.top-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 18%;
    width: 100%;
    margin-top: -25px;
}
.top-section img {
    width:250px;
    height:auto;
    transform: rotate(10deg);
    z-index: 10;
    pointer-events: none;
}
.search-it {
    display: flex;
    flex-direction: column;
    height: 50px;
    justify-content: flex-start;
    /* margin: 0px 15px 25px 0px; */
}
.search-it p {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px; 
}
.search {
    width: 225px;
    padding: 7px;
    border: black 1px solid;
    border-radius: 4px;
    color:black;
    border: 2px solid rgb(105, 105, 105);
}
::placeholder {
    color: rgb(190, 190, 190);
}

.database-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0px;
}
.all-cards {
    width: 98%;
    height:auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.all-cards img {
    width: 200px;
    height:auto;
    margin: 7px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.65);
    border-radius: 9px;
}
.seperator {
    width: 90%;
    border: 1px solid rgb(107, 107, 107);
    margin: 20px 0px 15px;
}
.live-set img {
    width: 225px;height:auto;
    margin-top: 10px;
}

.database-searcher h4 {
    margin-top: 15px;
}
.collapse-select {
    background-color: transparent;
    color:white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    /* border-radius: 10px; */
}
.country-name {
    display: flex;
    align-items: center;
}
.set-white-box {
    background-color: white;
    cursor: pointer;
    color:black;
    padding: 10px;
    font-size: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    margin-top: 10px;
    align-items: center;
}
.hello, .collapse-select:hover {
  background-color: rgb(70, 70, 70);
}
.meep, .set-white-box:hover {
  background-color: rgb(189, 189, 189);
}
.collapse-select:after {
  content: '\002B';
  color: white;
  font-weight: bold;
}
.set-white-box:after {
  content: '\002B';
  color: black;
  font-weight: bold;
}
.hello:after {
  content: "\2212";
}
.more-set-btns {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width:100%;
    display: flex;
    flex-direction: column;  
    align-items: center;
}
.set-logo {
    height:35px;width:auto;
    padding-left: 10px;
}
.search-open {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width:100%;
  display: flex;
  justify-content: center;
}
.set-organizer {
    width: 95%;height:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0px;
}
.wrapper {
    overflow: hidden; 
    height: 200px;
}
.set-cube {
    height:200px;width:175px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 7.5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.set-cube p {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px) saturate(90%);
    text-align: center;
    height:24%;width:100%;
    padding-top: 10px;
}

/* sword shield */
.crown-zenith {
    background: url(../assets/set-filter/swsh/crown-zenith.jpg) center;
    background-size: cover;
    -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.crown-zenith:hover {
    -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */ 
  transform: scale(1.2);
}
.silver-tempest {
    background: url(../assets/set-filter/swsh/silver-tempest.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.lost-origin {
    background: url(../assets/set-filter/swsh/lost-origin.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.pokemon-go {
    background: url(../assets/set-filter/swsh/pokemon-go_cleanup.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.astral-radiance {
    background: url(../assets/set-filter/swsh/astral-radiance.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.brilliant-stars {
    background: url(../assets/set-filter/swsh/brilliant-stars.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.fusion-strike {
    background: url(../assets/set-filter/swsh/fusion-strike.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.celebrations {
    background: url(../assets/set-filter/swsh/celebrations.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.evolving-skies {
    background: url(../assets/set-filter/swsh/evolving-skies.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.chilling-reign {
    background: url(../assets/set-filter/swsh/chilling-reign.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.battle-styles {
    background: url(../assets/set-filter/swsh/battle-styles.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.shining-fates {
    background: url(../assets/set-filter/swsh/shining-fates.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.vivid-voltage {
    background: url(../assets/set-filter/swsh/vivid-voltage.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.champions-path {
    background: url(../assets/set-filter/swsh/champions-path.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.darkness-ablaze {
    background: url(../assets/set-filter/swsh/darkness-ablaze.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.rebel-clash {
    background: url(../assets/set-filter/swsh/rebel-clash.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.sword-shield {
    background: url(../assets/set-filter/swsh/sword-shield.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}

/* sun moon */
.guardians-rising {
    background: url(../assets/set-filter/sm/guardians-rising.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.sun-moon {
    background: url(../assets/set-filter/sm/sun-moon.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.cosmic-eclipse {
    background: url(../assets/set-filter/sm/sm-cosmic-eclipse.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.hidden-fates {
    background: url(../assets/set-filter/sm/sm-hidden-fates.png) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.unified-minds {
    background: url(../assets/set-filter/sm/sm-unified-minds.png) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.unbroken-bonds {
    background: url(../assets/set-filter/sm/sm-unbroken-bonds.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.detective-pikachu {
    background: url(../assets/set-filter/sm/sm-detective-pikachu.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.team-up {
    background: url(../assets/set-filter/sm/sm-team-up.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.lost-thunder {
    background: url(../assets/set-filter/sm/sm-lost-thunder.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.dragon-majesty {
    background: url(../assets/set-filter/sm/sm-dragon-majesty.jfif) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.celestial-storm {
    background: url(../assets/set-filter/sm/sm-celestial-storm_cleanup.png) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.forbidden-light {
    background: url(../assets/set-filter/sm/sm-forbidden-light.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.ultra-prism {
    background: url(../assets/set-filter/sm/sm-ultra-prism.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.crimson-invasion {
    background: url(../assets/set-filter/sm/sm-crimson-invasion.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.shining-legends {
    background: url(../assets/set-filter/sm/sm-shining-legends.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.burning-shadows {
    background: url(../assets/set-filter/sm/sm-burning-shadows.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.guardians-rising {
    background: url(../assets/set-filter/sm/guardians-rising.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}
.sun-moon {
    background: url(../assets/set-filter/sm/sun-moon.jpg) no-repeat center;
    object-fit: contain;
    background-size: cover;
}