.top-page-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fghrygdb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.fghrygdb p {
    color: white;
    font-weight: 600;
    margin: -10px 0 0 179px;
    /* margin: -10px 0 0 54px; community */
    font-family: "Krona One", sans-serif;
    font-style: italic;
    font-size: 14px;
}
.fghrygdb.darkon p {
    color: rgb(235, 235, 235);
}
@media screen and (max-width: 1000px) {
    .fghrygdb p {
        font-size: 10px;
        margin: -5px 0 0 6px;
    }
}
@media screen and (max-width: 800px) {
    .fghrygdb p {
        font-size: 8px;
    }
}
body {
    background: radial-gradient(circle at center, white, rgb(205, 205, 205));
    overflow: hidden !important;
    position: fixed; 
    overflow-y: scroll;
    inset: 0;
}
#top-navr {
    border-bottom: 2px solid black;
    background-color: white;
}

/*////////////////*/

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}
@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}
@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }
    100% {
        margin-top: -100%;
    }
}
@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}
@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}
@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}
/* ANIMATIONS */
.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: -5%;
	top: 5%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}
.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 5%;
	top: 80%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}
.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 40%;
	
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	transform: scale(0.7);
}
.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}
.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 30%;
	top: 50%;
	
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}
.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 50%;
	top: 0;
	
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}
.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}
.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 80%;
	top: 10%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}
.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	-moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
	
	left: 90%;
	top: 50%;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
}
.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 80%;
	top: 80%;
	
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}
/* OBJECTS */
.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 200px;
	position: absolute;
	width: 200px;

    z-index: -1;
}
.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 180px;
	left: 10px;
	position: absolute;
	width: 180px;
}

/*////////////////*/

.deck-builder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.card-search-container {
    width: 40%;height:100%;
}
.event-searchbar {
    padding: 25px 0 10px 20px;
    margin-top: -15px;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    box-shadow: -10px 0 5px black;
}
.search-mag {
    margin-right: 10px;
    color: black;
}
.event-searchbar input {
    font-size: 18px;
    width: 50%;
    padding: 2px;
    background-color: white;
    color: black;
    border: 2px solid rgb(50, 50, 50);
}
.event-searchbar.darkon input {
    background-color: black;
    color: white;
    border: 2px solid grey;
}
.all-cards-container {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y: auto;
    /* direction: rtl; */
}
.all-cards-container::-webkit-scrollbar {
    width: 12px;
}
.all-cards-container::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #bcbccc;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    margin-top: -50px;
}
.all-cards-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    /* background: linear-gradient(to top, rgb(138, 138, 138), rgb(99, 99, 99)); */
    background-color: rgb(148, 148, 148);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.9);
}
.all-cards-displayed {
    width: 90%;
    height: 79vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* direction: ltr; */
}
.searched-card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    transition: ease all 0.3s;
    width: 125px;
    position: relative;
}
.all-cards-displayed img {
    width: 125px;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    position: relative;
}
.searched-card-wrap:hover {
    transform: scale(1.1);
}
.searched-card-wrap:hover > .add-card-to-deck {
    display: flex;
}
.add-card-to-deck {
    display: flex;
    align-items: center;
    color:white;
    padding: 20px;
    font-size: 25px;
    background-color: rgb(46, 48, 67);
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 15px;
    content: "+";
    width: 10px;height: 10px;
    position: absolute;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.681);
    transition: ease all 0.2s;
}
.add-card-to-deck::before {
    content: "+";
    margin-left: -2px;
    font-weight: 600;
}
.add-card-to-deck:hover {
    background-color: rgb(255, 255, 255);
    color:black;
    cursor: pointer;
    box-shadow: 2px 2px 7px rgb(0, 0, 0);
}

#zoomed-bg {
    position: fixed;
    z-index: 1999;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.9);

    display: none;
    align-items: center;
    justify-content: center;

    transition: all ease 0.3s;
}
#zoomed-bg.show {
    display: flex;
}
#zoomed-bg img {
    width: auto;
    height: 90%;
    object-fit: cover;
}
.deckbuilt-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3px;
    transition: ease all 0.3s;
}
.deckbuilt-card-container:hover {
    transform: scale(1.1)
}
.database-card-in-list {
    width: 115px;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}
.database-card-in-list:hover {
    cursor: pointer;
}
.deck-add-minus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 105px;
    width: 115px;
    transition: ease all 0.3s;
    position: absolute;
}
.pm-card {
    display: none !important;
    font-size: 20px !important;
    background-color: rgb(46, 48, 67);
    color: white;
    border: 2px solid black;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    transition: ease all 0.2s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.deckbuilt-card-container:hover > .deck-add-minus > .pm-card {
    display: block !important;
}
.pm-card:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px black;
    color:black;
    font-weight: 600;
}
.current-cnt-num {
    width: 37px;
    background-color: black;
    border-radius: 50%;
    padding:2px;
    pointer-events: none;
}

.active-deck-container {
    width: 60%;height:100vh;
    /* margin-left: 3px; */
}
.deck-build-options {
    height: 33%;width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.all-options-box {
    width: 98%;
    height: 95%;
    background-color: transparent;
    border-radius: 25px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7), inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.deck-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    border-top: 3px solid black;
    /* border-left: 3px solid black; */
    background-image: url(../assets/old-white-bg.jpg);
    background-size: cover;
    /* border-top-left-radius: 15px; */
}

.expand-advanced {
    width: 100%;
    padding: 5px 0;
    background-image: linear-gradient(to top right, rgb(36, 36, 80), rgb(7, 7, 21));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 18px !important;
    color:rgb(235, 235, 235);
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    z-index: 5;
}
.expand-advanced span {
    position: absolute;
}
