.top-page-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fghrygdb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.fghrygdb p {
    color: white;
    font-weight: 600;
    margin: -10px 0 0 179px;
    /* margin: -10px 0 0 54px; community */
    font-family: "Krona One", sans-serif;
    font-style: italic;
    font-size: 14px;
}
.fghrygdb.darkon p {
    color: rgb(235, 235, 235);
}
@media screen and (max-width: 1000px) {
    .fghrygdb p {
        font-size: 10px;
        margin: -5px 0 0 6px;
    }
}
@media screen and (max-width: 800px) {
    .fghrygdb p {
        font-size: 8px;
    }
}
body {
    background: linear-gradient(to top, rgb(174, 174, 174), white);
    overflow: hidden !important;
    position: fixed; 
    overflow-y: scroll;
    inset: 0;
}
#top-navr {
    border-bottom: 2px solid black;
    background-color: white;
}

/*////////////////*/

.deck-builder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.card-search-container {
    width: 40%;height:100%;
}
.event-searchbar {
    margin: 15px 0 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-mag {
    margin-right: 10px;
    color: white;
}
.event-searchbar input {
    font-size: 18px;
    width: 50%;
    padding: 2px;
    background-color: black;
    color: white;
    border: 2px solid grey;
}
.all-cards-container {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y: auto;
    /* direction: rtl; */
}
.all-cards-container::-webkit-scrollbar {
    width: 12px;
}
.all-cards-container::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #bcbccc;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    margin-top: -50px;
}
.all-cards-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    /* background: linear-gradient(to top, rgb(138, 138, 138), rgb(99, 99, 99)); */
    background-color: rgb(148, 148, 148);
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.9);
}
.all-cards-displayed {
    width: 90%;
    height: 79vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* direction: ltr; */
}
.searched-card-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    transition: ease all 0.3s;
    width: 125px;
    position: relative;
}
.all-cards-displayed img {
    width: 125px;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    position: relative;
}
.searched-card-wrap:hover {
    transform: scale(1.1);
}
.searched-card-wrap:hover > .add-card-to-deck {
    display: flex;
}
.add-card-to-deck {
    display: flex;
    align-items: center;
    color:white;
    padding: 20px;
    font-size: 25px;
    background-color: rgb(46, 48, 67);
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 15px;
    content: "+";
    width: 10px;height: 10px;
    position: absolute;
    box-shadow: 0px 0px 5px brgba(0, 0, 0, 0.681);
}
.add-card-to-deck::before {
    content: "+";
    margin-left: -2px;
    font-weight: 600;
}
.add-card-to-deck:hover {
    background-color: rgb(219, 217, 234);
    color:black;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
}

#zoomed-bg {
    position: fixed;
    z-index: 1999;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.9);

    display: none;
    align-items: center;
    justify-content: center;

    transition: all ease 0.3s;
}
#zoomed-bg.show {
    display: flex;
}
#zoomed-bg img {
    width: auto;
    height: 90%;
    object-fit: cover;
}
.deckbuilt-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3px;
    transition: ease all 0.3s;
}
.deckbuilt-card-container:hover {
    transform: scale(1.1)
}
.database-card-in-list {
    width: 115px;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}
.database-card-in-list:hover {
    cursor: pointer;
}
.deck-add-minus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 105px;
    width: 115px;
    transition: ease all 0.3s;
    position: absolute;
}
.pm-card {
    display: none !important;
    font-size: 20px !important;
    background-color: rgb(46, 48, 67);
    color: white;
    border: 2px solid black;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    transition: ease all 0.2s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.deckbuilt-card-container:hover > .deck-add-minus > .pm-card {
    display: block !important;
}
.pm-card:hover {
    cursor: pointer;
    background-color: rgb(219, 217, 234);
    box-shadow: 0px 0px 10px black;
    color:black;
    font-weight: 600;
}
.current-cnt-num {
    width: 37px;
    background-color: black;
    border-radius: 50%;
    padding:2px;
    pointer-events: none;
}

.active-deck-container {
    width: 60%;height:100vh;
    /* margin-left: 3px; */
}
.deck-build-options {
    height: 33%;width: 100%;
}
.deck-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
    border-top: 3px solid black;
    border-left: 3px solid black;
    background-image: url(../assets/old-white-bg.jpg);
    background-size: cover;
    border-top-left-radius: 15px;
}

.expand-advanced {
    width: 100%;
    padding: 5px 0;
    background-image: linear-gradient(to top right, rgb(36, 36, 80), rgb(7, 7, 21));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 18px !important;
    color:rgb(235, 235, 235);
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    z-index: 5;
}
.expand-advanced span {
    position: absolute;
}
