.top-page-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fghrygdb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.fghrygdb p {
    color: white;
    font-weight: 600;
    margin: -10px 0 0 179px;
    /* margin: -10px 0 0 54px; community */
    font-family: "Krona One", sans-serif;
    font-style: italic;
    font-size: 14px;
}
.fghrygdb.darkon p {
    color: rgb(235, 235, 235);
}
@media screen and (max-width: 1000px) {
    .fghrygdb p {
        font-size: 10px;
        margin: -5px 0 0 6px;
    }
}
@media screen and (max-width: 800px) {
    .fghrygdb p {
        font-size: 8px;
    }
}
body {
    background-image: linear-gradient(to bottom, rgb(25, 25, 25), #373737);
    overflow: hidden !important;
    position: fixed; 
    overflow-y: scroll;
    inset: 0;
}
#top-navr {
    border-bottom: 2px solid grey;
    background-color: rgb(25, 25, 25);
}
#nav-leftr img {
    content: url('../assets/dark-logo.png');
}
#nav-leftr h1 {
    color: white;
}
#nav-rightr a {
    color: #e1e1e1;
}
.drop-it-down2 {
    background: linear-gradient(to bottom, #191919, rgb(122, 122, 122));
    border-left: 1px solid #191919;
    border-right: 1px solid #191919;
    border-bottom: 1px solid #191919;
    border-bottom: 1px solid rgb(151, 151, 151);
}
#menuToggle span {
background: #e1e1e1;
}
#menuToggle input:checked ~ span {
background: #e1e1e1;
}

/*////////////////*/

.deck-builder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.card-search-container {
    width: 55%;height:100%;
}
.event-searchbar {
    margin: 20px 0 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-mag {
    margin-right: 10px;
    color: white;
}
.event-searchbar input {
    font-size: 18px;
    width: 50%;
    padding: 2px;
}
.all-cards-container {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-y:auto
}
.all-cards-displayed {
    width: 90%;
    height: 80vh;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 25px;
}
.all-cards-displayed img {
    width: 150px;
    height: auto;
    margin: 7px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.65);
}
#zoomed-bg {
    position: fixed;
    z-index: 1999;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.9);

    display: none;
    align-items: center;
    justify-content: center;

    transition: all ease 0.3s;
}
#zoomed-bg.show {
    display: flex;
}
#zoomed-bg img {
    width: auto;
    height: 90%;
    object-fit: cover;
}
.database-card-in-list:hover {
    cursor: pointer;
}
.deckbuilt-card-container {
    width: 150px;

}
.deck-add-minus {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: -100px;
    width: 245px;
}
.pm-card {
    font-size: 50px;
    background-color: #201f2c;
    color:white;
    font-weight: 600;
    padding: 20px;
    border-radius: 50%;
    position: relative;
}
.pm-card:hover {
    cursor: pointer;
}
.pm-card:before {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    content: "";
    background: #484561;
    border-radius: 50%;
    width: 0;
    height: 0;
    transition: all .5s;
}
.pm-card:hover:before {
    width: 100%;
    height: 100%;
}

.active-deck-container {
    width: 45%;height:100vh;
    border-left: 1px solid grey;
}