.top-era-selector {
    width: 100%;
    background-color: #313131;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    padding: 10px 0px;
}
.top-era-selector h2 a {
    color: rgb(187, 173, 45);
    transition: ease all 0.2s;
}
.top-era-selector h2 a:hover {
    color: rgb(229, 225, 187);
}
.arrow-a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}


.format {
    font-size: 26px;
    margin: 10px 0px 10px;    
    color:white;
    border-radius: 15px;
    padding: 5px 35px;
}
.format-deck-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55%;
}
#ToC2 {
    display: flex;
    justify-content: center;
    margin: 25px 0px 20px 0px;
}
/* .toc-wallpaper {
    position: relative;
    height: 300px;
    margin: 75px -30px 0px 0px;
    z-index: -1;
} */
.toc-top-box {
    background-image: linear-gradient(to bottom right, rgb(62, 28, 28), rgb(137, 123, 0));
    position: relative;
    margin: -50px 0px 0px 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 15px; */

}
.toc-top-box h2 {
    color: white;
    padding: 6px 35px;
}
#event-toc,
#event-toc2 {
    border: 1px solid rgb(8, 4, 32);
    list-style: none;
    box-shadow: 5px 5px 10px 1.5px rgba(0, 0, 0, 0.3);
    padding: 30px 45px 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}
.deckss-left {
    width:45%;
}
.deckss-right {
    width:50%;
    margin-left: 30px;
}
/* .auto-day2-area2 {
    width: 100%;
    margin-top: 20px;
} */
#event-toc ul,
#event-toc2 ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
}
#event-toc li,
#event-toc2 li {
    line-height: 25px;
}
#event-toc li a,
#event-toc2 li a {
    color: #000;
}
#event-toc li a:hover,
#event-toc2 li a:hover {
    color: rgb(189, 129, 0);
}
.small-1 {
    width: 10%;
    height: auto;
}

.arrow-a i {
    font-size: 30px;
}
.set-yr-page {
    font-size: 24px;
    text-align: center;
    margin-top: 25px;
    color:blue;
}
.set-top-page {
    font-size: 36px;
    margin-top: 10px;
    text-align: center;
}

.decks-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0px;
}
.decks-main h3 {
    font-size: 26px;
}
.deck-description {
    width: 40.5%;
    text-align: start;
    padding: 20px 10px 10px;
    border-radius: 10px;
    margin-top: -7.5px;
    color:#fff;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.deck-description a {
    margin-top: 7px;
    margin-bottom: 10px;
    font-style: italic;
    color:rgb(0, 145, 197);
}
.deck-description p:nth-child(1) {
    margin-bottom: 10px;
    font-style: italic;
    color:rgb(187, 173, 45);
}

.rules-description {
    width: 40.5%;
    text-align: start;
    padding: 20px 0px 10px;
    border-radius: 10px;
    background-color: transparent;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.center-rules {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.weakness-hr {
    width: 45%;
    margin: 10px 0px;
    color: white;
}
.weak-resist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}
.reg-txt {
    margin: 8px 0px;
    font-size: 20px;
}
.red-outline .rules-description {
    width: 80%;
    padding: 20px;
}
.parenthases {
    margin: -2px 0px 8px 25px;
    font-size: 18px;
}
.heads-tails {
    margin: -2px 0px 8px 45px;
    font-size: 16px;
}

.gradient-box {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 15px;
}
.psychic-box {
    background-image: linear-gradient(to bottom right,rgb(142, 0, 155),black, black);
}
.lightning-box {
    background-image: linear-gradient(to bottom right, yellow 5%, black 10%, black 85%, yellow 95%);
}

.deck-box {
    /* border: 3px solid #000; */
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 6px;
    z-index: 2;
}
.pokemon-card2 {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 2.5px;
    /* border-radius */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.8) 2px 2px 7px;
    -moz-box-shadow: rgba(0,0,0,0.8) 2px 2px 7px;
    box-shadow: rgba(0,0,0,0.8) 2px 2px 7px;
}
.pokemon-card2:hover {
    cursor: pointer;
}
.pok-card-small2 {
    position: relative;
    top: 0;
    left: 0;
    width: 65px;
}
.pok-card-banned {
    width: 130px;
}
.pok-card-banned-era {
    width: 100px;
}
.pok-card-small2-banned  {
    width: 220px;
    margin-bottom: -7px;
}
.num-2 {
    position: absolute;
    width: 22px;
    margin-bottom: 7px;
    background-color: black;
    border-radius: 50%;
    padding:2px;
}

/* .behind-large-card {
    width:100%;height:100%;
    position: fixed;
    top: 0;left: 0;
    background-color: rgba(0,0,0,0.9);
    background: rgba(0,0,0,0.9);
    z-index: 300;
    display: none;
} */
.large-card {
    position: fixed;
    top: 39%;
    left: 47%;
    margin-right: -50%;
    transform: translate(-50%, -50%);   
    z-index: 1000;
    /* height: 80vh; */
    transform: scale(400%);
    /* transition: ease-in-out all 0.2s; */
}

.era-footer {
margin-top: auto;
}

/* .format-sets {
    max-width: 75%;
    display: flex;
    justify-content: center;
} */
.format-sets img {
    height: auto;
    width: 5vw;
    margin: 5px 10px;
}
.format-sets2 img {
    height: auto;
    width: 10vw;    margin: 10px 10px;
}

.small-format-text {
    font-size: 18px;
}

.yrs-formats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
}
.center-format {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: -30px;
}
.specific-format,
.top-format-graphic {
    width: 55%;height:115px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
    margin-bottom: 35px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(23, 12, 44, 0.7);
    transition: ease all 0.19s;
}
.expanded-format,
.top-format-expanded-graphic {
    width: 55%;height:115px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #cdcdcd;
    margin-bottom: 35px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgba(9, 16, 74, 0.7);
    transition: ease all 0.19s;
}
.left-vs-set {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width:33%;
}
.right-vs-set {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width:33%;
}
.specific-format h3,
.top-format-graphic h3 {
    font-size: 28px;
    color: white;
    width: 50%;
    text-align: center;
    transition: ease all 0.19s;
}
.expanded-format h3,
.top-format-expanded-graphic h3 {
    font-size: 28px;
    color: black;
    width: 50%;
    text-align: center;
    transition: ease all 0.19s;
}
.specific-format:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.specific-format:hover > h3 {
    color: rgb(187, 173, 45);
}
.expanded-format:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.expanded-format:hover > h3 {
    color: rgb(0, 52, 125);
}
.specific-format img,
.top-format-graphic img {
    height: 120px;
}

.diff-decks-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* margin-left: 1000px; */
}
.deck-build {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    margin: 0px 5px 10px;
    border-style: none;
}
.build-box2,
.build-box4,
.build-box6, 
.build-box8,
.build-box10,
.build-box105,
.build-box106 {
    display: none;
}
.descrip-box2,
.descrip-box4,
.descrip-box6,
.descrip-box8,
.descrip-box10,
.descrip-box105,
.descrip-box106 {
    display: none;
}

.builds-num {
    font-size: 8px;
    position: relative;
    top: -7px;
    color:blue;
}
.message-us {
    font-weight: bold;
    max-width: 70%;
    text-align: center;
}
.opace {
    opacity: 0.7;
}

.dark-blue-bg {
    background-image: linear-gradient(to top right, rgb(101, 28, 173), rgb(21, 21, 129));
}
.dark-red-bg {
    background-image: linear-gradient(to top left, rgb(149, 0, 0), rgb(218, 125, 4));
}
.dark-teal-bg {
    background-image: linear-gradient(to top right, rgb(0, 184, 3), rgb(0, 99, 174));
}
.dark-orange-bg {
    background-image: linear-gradient(to top right, rgb(208, 0, 219), rgb(230, 130, 0));
}
.dark-green-bg {
    background-image: linear-gradient(to top right, rgb(0, 169, 112), rgb(0, 51, 191));
}

.errata-img {
    max-width: 75%;
}
.red-outline {
    /* background-image: linear-gradient(to top right, rgb(94, 23, 165), rgb(1, 1, 64)); */
    /* border: 13px solid black; */
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 0px;
    width: 55%;
    margin: 15px 0px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.red-outline .deck-description {
    width: 80%;
    padding: 20px;
    /* box-shadow: 5px 5px 10px rgba(0,0,0,0.5); */
}
.red-outline .deck-description p {
    transform: scale(0.95);
}
/* .moved-up {
    position: relative;
    margin-top: -37px;
    margin-left: 15px;
    margin-right: 15px;
} */
.banned-eras {
    max-width: 75%;
}

/************************/



/************************/

@media screen and (max-width: 1551px) {
    .deck-box {
        width: 70%;
    }
    .format-deck-title {
        width: 70%;
    }
}
/* @media screen and (min-width: 1600px) {
    .pok-card-small2 {
        width: 125px;
    }
} */
@media screen and (min-width: 1151px) {
    .deck-description {
        width: 63.5%;
    }
    .pok-card-small2 {
        width: 105px;
    }
    .num-2 {
        width: 35px;
    }
}
@media screen and (min-width: 1402px) {
    .deck-box {
        width: 90%;
    }
    .format-deck-title {
        width: 76%;
    }
    .rules-description {
        width: 100%;
    }
}
@media screen and (max-width: 1401px) {
    .deck-box {
        width: 85%;
    }
    .format-deck-title {
        width: 85%;
    }
    .red-outline {
        width: 80%;
    }
}
@media screen and (max-width: 1271px) {
    .specific-format,
    .expanded-format,
    .top-format-graphic,
    .top-format-expanded-graphic {
        width: 80%;height:115px;
    }
}
@media screen and (max-width: 1150px) {
    .deck-box {
        width: 70%;
    }
    .format-deck-title {
        width: 70%;
    }
    .deck-description {
        width: 65.5%;
    }
}
@media screen and (max-width: 930px) {
    .deck-box {
        width: 80%;
    }
    .format-deck-title {
        width: 80%;
    }
    .deck-description {
        width: 69.5%;
    }
    .red-outline {
        width: 90%;
    }
    .pok-card-small2-banned  {
        width: 128px;
    }
    .reg-txt {
        margin: 8px 0px;
        font-size: 17px;
    }
    .parenthases {
        margin: -2px 0px 8px 25px;
        font-size: 14px;
    }
    .heads-tails {
        margin: -2px 0px 8px 45px;
        font-size: 12px;
    }
    .weak-resist {
        width: 70%;
    }
}
@media screen and (max-width: 850px) {
    .specific-format h3,
    .expanded-format h3,
    .top-format-graphic h3,
    .top-format-expanded-graphic h3 {
        font-size: 22px;
    }
    .small-format-text {
        font-size: 15px;
    }
}
@media screen and (max-width: 812px) {
    .deck-box {
        width: 85%;
    }
    .format-deck-title {
        width: 85%;
    }
    .deck-description {
        width: 79.5%;
        font-size: 14px;
    }
    .pok-card-small2 {
        width: 55px;
    }
    .num-2 {
        width: 17px;
    }
    .decks-main h3 {
        font-size: 20px;
        border-radius: 11px;
    }
    .diff-decks-btns p {
        font-size: 12px;
    }
}
@media screen and (max-width: 550px) {
    .top-era-selector h2 {
        font-size: 18px;
    }
    .banned-eras {
        max-width: 98%;
    }
    .top-era-selector p {
        font-size: 12px;
    }
    .format-sets img,
    .format-sets2 img {
        height: auto;width:15vw;
        margin: 0px 10px;
    }
    .diff-decks-btns p {
        font-size: 10px;
    }
    .small-format-text {
        font-size: 10px;
    }
    .arrow-a i {
        font-size: 20px;
    }
    .deck-box {
        width: 100%;
    }
    .format-deck-title {
        width: 80%;
    }
    .deck-description {
        width: 80.5%;
        font-size: 12px;
    }
    .deck-description p {
        text-align: center;
    }
    .pok-card-small2 {
        width: 53px;
    }
    .num-2 {
        width: 15px;
    }
    .large-card {
        left: 44%;
        margin-right: -50%;
        transform: scale(600%);
    }
    #event-toc ul,
    #event-toc2 ul {
        font-size: 10px;
        justify-content: flex-start;
    }
    #event-toc,
    #event-toc2 {
        width: 90%;
        padding: 32px 12px 10px;
    }
    .specific-format,
    .expanded-format,
    .top-format-graphic,
    .top-format-expanded-graphic {
        width: 95%;height:75px;
        margin-bottom: 25px;
    }
    .specific-format h3,
    .expanded-format h3,
    .top-format-graphic h3,
    .top-format-expanded-graphic h3 {
        font-size: 16px;
        width: 45%;
    }
    .yrs-formats {
        margin: 25px 0px;
    }
    .builds-num {
        font-size: 6px;
        position: relative;
        top: -5px;
    }
    .message-us {
        width: 95%;
    }
    .pok-card-banned {
        width: 115px;
    }
    .pok-card-banned-era {
        width: 80px;
    }
    .pok-card-small2-banned  {
        width: 80px;
    }
    .errata-img {
        max-width: 94%;
    }
    .idontknow {
        max-width: 85%
    }
    #event-toc2 p {
        font-size: 8.7px;
    }
    .red-outline {
        border: 1px solid rgb(20, 7, 78);
        padding: 15px 0px;
        width: 90%;
        margin: 15px 0px;
    }
    .toc-top-box {
        margin: -48px 0px 0px 70px;
        width: 280px;
    }
    .toc-top-box h2 {
        padding: 6px 35px;
        font-size: 18px;
    }
    .reg-txt {
        margin: 8px 0px;
        font-size: 9px;
    }
    .parenthases {
        margin: -2px 0px 8px 25px;
        font-size: 8px;
    }
    .heads-tails {
        margin: -2px 0px 8px 45px;
        font-size: 7px;
    }
    .weak-resist {
        width: 100%;
    }
    .weakness-hr {
        width: 70%;
    }
    .format {
        font-size: 22px;
        margin: 10px 0px 10px;  
    }
    .gradient-box {
        width: 95%;
        border-radius: 12px;
    }
}