footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    width: 100%;
    margin-top: 25px;
}
#foot-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    width: 65%;
}
footer a {
    color: #fff;
    font-size: 18px;
}

.foot-mid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin: 40px 0px 35px; 
}
.foot-mid img {
   width: 45px; 
   border-radius: 8px;
}

#foot-bottom {
    color: #fff;
    text-align: center;
    margin: 0px 50px 20px;
    font-size: 11px;
}

@media screen and (max-width: 1190px) {
    .foot-mid {
        width: 60%;
        margin: 40px 0px 35px; 
    }
    .foot-mid img {
       width: 40px; 
    }
}
@media screen and (max-width: 780px) {
    #foot-top a {
        font-size: 14px;
    }
}
@media screen and (max-width: 670px) {
    footer {
        margin-top: 5px;
    }
    #foot-top {
        width: 90%;
    }
    #foot-top a {
        font-size: 11px;
    }
    #foot-bottom {
        font-size: 6px;
    }
    .foot-mid {
        width: 70%;
    }
    .foot-mid img {
        width: 30px; 
     }
}