footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    width: 100%;
    margin-top: 25px;
}
#foot-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    width: 65%;
}
footer a {
    color: #fff;
    font-size: 18px;
}
#foot-bottom {
    color: #fff;
    text-align: start;
    margin: 40px 50px 20px;
    font-size: 11px;
}

@media screen and (max-width: 540px) {
    footer {
        margin-top: 5px;
    }
    #foot-top {
        width: 90%;
    }
    #foot-top a {
        font-size: 11px;
    }
    #foot-bottom {
        margin: 14px 20px;
        font-size: 6px;
    }
}