.nats-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 5px 40px 5px;
}
.nats-box img {
    width: 300px;
    height: 125px;
    border: 2px solid black;
    border-radius: 5px;
    transition: ease all 0.15s;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}
.nats-box p {
    font-size: 26px;
    margin-top: 10px;
    background-color: rgb(49, 49, 49);
    color:white;
    border-radius: 15px;
    padding: 5px 35px;
    transition: ease all 0.15s;
}
.country-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.country-box img {
    width: 570px;
    height: 240px;
    border: 4px solid black;
    border-radius: 25px;
    transition: ease all 0.15s;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}
.country-txt {
    width: 60%;
    margin: 25px 0px;
    text-align: center;
    font-size: 18px;
}
.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.thin {
    width: 200px;
}

.worlds-icon ol li {
    display: flex;
    flex-direction: row;
}

.travel-stipends {
    display: flex;
    flex-direction: column;
}
.all-stipends {
    display: flex;
    flex-direction: row;
}
.stipeds-left,
.stipeds-right {
    width:30%;
    display: flex;
    flex-direction: column;
}
/* .stipend-rating-zone {

} */
.covid-award {
    max-width: 65%;
}

.other-nats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px 50px 5px 60px;
}
.country-indiv {
    width: 350px;
    margin: 0px 15px 25px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 10px 0px 10px 35px;
    box-shadow: 5px 5px 10px rgba(11, 4, 30, 0.4);
}
.country-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: -17px;
}
.country-hr {
    width: 96%;
    margin: 10px 0px 5px -15px;
}
.country-list-item {
    margin-left: 15px
}
.country-deck-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.country-poke {
    display: flex;
    flex-direction: row;
    margin-top: -15px;
    margin-left: 10px;
}

@media screen and (max-width: 585px) {
    .country-box img {
        width: 84%;
        height: auto;
        border: 3px solid black;
        border-radius: 20px;
    }
}
@media screen and (max-width: 530px) {
    .nats-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 3px 15px 3px;
    }
    .covid-award {
        max-width: 100%;
    }
    .nats-box img {
        width: 150px;
        height: 65px;
        border: 1.5px solid black;
        border-radius: 4px;
    }
    .nats-box p {
        font-size: 16px;
        margin-top: 5px;
        background-color: rgb(49, 49, 49);
        color:white;
        border-radius: 10px;
        padding: 3px 15px;
    }
    .stipeds-left,
    .stipeds-right {
        width:50%;
        display: flex;
        flex-direction: column;
    }
    .stipeds-left p,
    .stipeds-right p {
        font-size: 14px;
    }
    .country-txt {
        font-size: 16px;
    }
    .other-nats {
        padding: 5px 10px 5px 15px;
    }
    .country-indiv {
        width: 100%;
        margin: 0px 5px 25px;
    }
}