.nats-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 5px 40px 5px;
}
.nats-box img {
    width: 300px;
    height: 125px;
    border: 2px solid black;
    border-radius: 5px;
}
.nats-box p {
    font-size: 26px;
    margin-top: 10px;
    background-color: rgb(49, 49, 49);
    color:white;
    border-radius: 15px;
    padding: 5px 35px;
}
.thin {
    width: 200px;
}

.travel-stipends {
    display: flex;
    flex-direction: column;
}
.all-stipends {
    display: flex;
    flex-direction: row;
}
.stipeds-left,
.stipeds-right {
    width:30%;
    display: flex;
    flex-direction: column;
}
/* .stipend-rating-zone {

} */
.covid-award {
    max-width: 65%;
}

@media screen and (max-width: 530px) {
    .nats-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 3px 15px 3px;
    }
    .covid-award {
        max-width: 100%;
    }
    .nats-box img {
        width: 150px;
        height: 65px;
        border: 1.5px solid black;
        border-radius: 4px;
    }
    .nats-box p {
        font-size: 16px;
        margin-top: 5px;
        background-color: rgb(49, 49, 49);
        color:white;
        border-radius: 10px;
        padding: 3px 15px;
    }
    .stipeds-left,
    .stipeds-right {
        width:50%;
        display: flex;
        flex-direction: column;
    }
    .stipeds-left p,
    .stipeds-right p {
        font-size: 14px;
    }
}