.nats-box,
.japan-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 5px 40px 5px;
}
.nats-box img {
    width: 300px;
    height: 125px;
    border: 2px solid black;
    border-radius: 5px;
    transition: ease all 0.15s;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    /* display: block; */
}
.nats-box p,
.japan-box p {
    font-size: 26px;
    margin-top: 10px;
    background-color: rgb(49, 49, 49);
    color:white;
    border-radius: 15px;
    padding: 5px 35px;
    transition: ease all 0.15s;
}
.up-up {
    margin-top: -2px;
}
.opace {
    opacity: 0.7;
}

/* .coming-soon {
    position:absolute;
    font-weight: bold;
} */

.collapse-bts {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
  .collapsible-alt {
    background-color: rgb(157, 157, 157);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    display: flex;
    text-align: center;
    justify-content: space-between;
  }
  
  .hello, .collapsible:hover {
    background-color: #555;
    /* color: rgb(187, 173, 45); */
  }
  .hello, .collapsible-alt:hover {
    background-color: #555;
    /* color: rgb(187, 173, 45); */
  }
  
  .collapsible:after,
  .collapsible-alt:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .hello:after {
    content: "\2212";
  }
  
  .country-content {
    padding: 0px 20px 0px 50px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    text-align: center;
    width:30%;
  }
  .country-content h4 {
    margin-left: -20px;
  }

.light-set {
    font-weight: 100;
}

.japan-box img {
    width: 300px;
    height: 160px;
    border: 2px solid black;
    border-radius: 5px;
    transition: ease all 0.15s;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    margin-bottom: 7px;
}

.country-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.country-box img {
    width: 570px;
    height: 240px;
    border: 4px solid black;
    border-radius: 25px;
    transition: ease all 0.15s;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}
.country-box img:hover {
    border: 3px solid black;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
}
.country-txt {
    max-width: 75%;
    margin: 15px 0px;
    text-align: center;
    font-size: 18px;
}
.country-txt2 {
    max-width: 75%;
    font-weight: bold;
    margin: 25px 0px;
    text-align: center;
    font-size: 24px;
    color: black;
}
.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center-column img {
    margin-bottom: 25px;
    width: 350px;
    border-radius: 10px;
    border: 2px solid black;
}
.thin {
    width: 200px;
}

.nats-header {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 25px;
}

.worlds-icon ol li {
    display: flex;
    flex-direction: row;
}

.travel-stipends {
    display: flex;
    flex-direction: column;
}
.all-stipends {
    display: flex;
    flex-direction: row;
}
.stipeds-left,
.stipeds-right {
    width:30%;
    display: flex;
    flex-direction: column;
}

.covid-award {
    max-width: 65%;
}

.hidden-nats-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 5000;
    width: 65%;
}
.hidden-nat1,
.hidden-nat2,
.hidden-nat2015-1,
.hidden-nat2015-2,
.hidden-nat2014-1,
.hidden-nat2014-2,
.hidden-nat20101,
.hidden-nat20102 {
    display: none;
    /* transform: scale(1.2); */
}

.other-nats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px 50px 5px 60px;
}
/* .country-indiv {
    width: 350px;
    margin: 0px 15px 25px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 10px 0px 10px 35px;
    box-shadow: 5px 5px 10px rgba(11, 4, 30, 0.4);
} */
.country-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
    font-size: 20px;
}
.title-flag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.country-hr {
    width: 96%;
    margin: 10px 0px 5px -15px;
}
.other-hr {
    width: 80%;
    margin: 10px 0px 10px 0px;
}
/* .country-list-item {
    margin-left: 15px;
    margin-bottom: 5px;
    min-height: 30.5px
} */
.country-deck-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.country-poke {
    display: flex;
    flex-direction: row;
    margin-top: -15px;
    margin-left: 10px;
}
@media screen and (max-width: 1400px) {
    .stipeds-left,
    .stipeds-right {
        width:50%;
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 1300px) {
    .country-content {
        width:40%;
      }
}
@media screen and (max-width: 1164px) {
    .nats-box,
    .japan-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 3px 15px 3px;
    }
    .nats-box img {
        width: 210px;
        height: 90px;
        border: 1.5px solid black;
        border-radius: 4px;
    }
    .japan-box img {
        width: 230px;
        height: 120px;
        border: 1.5px solid black;
        border-radius: 4px;
    }
    .nats-box p {
        font-size: 16.5px;
        margin-top: 5px;
        background-color: rgb(49, 49, 49);
        color:white;
        border-radius: 10px;
        padding: 3px 15px;
    }
    .japan-box p {
        font-size: 16.5px;
        margin: 5px 0px 12px;
        background-color: rgb(49, 49, 49);
        color:white;
        border-radius: 10px;
        padding: 3px 15px;
    }
    .other-cont-box img {
        width: 350px;
        height: 220px;
    }
    .other-cont-box p {
        font-size: 22px;
    }
    .collapsible {
        width: 60%;
    }
    .collapsible-alt {
        width: 60%;
    }
    .country-content {
        width:45%;
      }
}
@media screen and (max-width: 900px) {
    .country-name {
        font-size: 16px;
    }
    .country-txt2 {
        font-size: 18px;
    }
    .center-column img {
        width: 280px;
    }
}
@media screen and (max-width: 803px) {
    .nats-box,
    .japan-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 3px 15px 3px;
    }
    .nats-box img {
        width: 150px;
        height: 65px;
        border: 1.5px solid black;
        border-radius: 4px;
    }
    .japan-box img {
        width: 164px;
        height: 85px;
        border: 1.5px solid black;
        border-radius: 4px;
    }
    .nats-box p {
        font-size: 16px;
        margin-top: 5px;
        background-color: rgb(49, 49, 49);
        color:white;
        border-radius: 10px;
        padding: 3px 15px;
    }
    .japan-box p {
        font-size: 13px;
        margin: 5px 0px 12px;
        background-color: rgb(49, 49, 49);
        color:white;
        border-radius: 10px;
        padding: 3px 15px;
    }
    .collapsible {
        width: 70%;
    }
    .collapsible-alt {
        width: 70%;
    }
    .country-content {
        width:55%;
      }
}
@media screen and (max-width: 780px) {
    .travel-stipends {
        justify-content: center;
    }
    .travel-stipends h3 {
        text-align: center;
    }
    .stipeds-left,
    .stipeds-right {
        text-align: center;
    }
}
@media screen and (max-width: 585px) {
    .country-box img {
        width: 84%;
        height: auto;
        border: 3px solid black;
        border-radius: 20px;
    }
    .other-cont-box img {
        width: 300px;
        height: 190px;
    }
    .other-cont-box p {
        font-size: 18px;
    }
    .collapsible,
    .collapsible-alt {
        width: 90%;
    }
    .country-content {
        width:75%;
      }
}
@media screen and (max-width: 530px) {
    .covid-award {
        max-width: 100%;
    }
    .stipeds-left p,
    .stipeds-right p {
        font-size: 14px;
    }
    .country-txt {
        font-size: 16px;
    }
    .other-nats {
        padding: 5px 3px 5px 3px;
    }
    .country-indiv {
        width: 100%;
        margin: 0px 0px 25px;
    }
    .up-up {
        margin-top: -7px;
    }
    .country-name {
        margin-left: 10px;
    }
}
@media screen and (max-width: 400px) {
    .stipend-rating-zone p {
        font-size: 12px;
    }
    .other-cont-box img {
        width: 275px;
        height: 175px;
    }
    .other-cont-box p {
        font-size: 16px;
    }
    .collapsible,
    .collapsible-alt {
        width: 90%;
    }
    .country-name {
        margin-left: 5px;
        font-size: 13px;
    }
    .center-column img {
        width: 225px;
    }
    .country-content {
        background-color: transparent;
      }
}
@media screen and (max-width: 370px) {
    .nats-box,
    .japan-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 3px 15px 3px;
    }
    .nats-box img {
        width: 120px;
        height: 55px;
        border: 1.5px solid black;
        border-radius: 4px;
    }
    .japan-box img {
        width: 120px;
        height: 65px;
        border: 1.5px solid black;
        border-radius: 4px;
    }
    .nats-box p {
        font-size: 12px;
        margin-top: 5px;
        background-color: rgb(49, 49, 49);
        color:white;
        border-radius: 10px;
        padding: 3px 15px;
    }
    .japan-box p {
        font-size: 9px;
        margin: 5px 0px 12px;
        background-color: rgb(49, 49, 49);
        color:white;
        border-radius: 10px;
        padding: 3px 15px;
    }
    .other-cont-box img {
        width: 255px;
        height: 160px;
    }
    .other-cont-box p {
        font-size: 14px;
    }
}