#top-navr {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: white;
}
#top-navr.darkon {
    background-color: rgb(25, 25, 25);
}
#nav-leftr {
    margin-left: 15px;
}
#nav-leftr img {
    content: url('../assets/trophy-icon.png');
}
#nav-leftr.darkon img {
    content: url('../assets/dark-logo.png');
}
#nav-leftr a {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#nav-leftr h1 {
    font-size: 36px;
    margin-left: 5px;
    color: black;
}
#nav-leftr.darkon h1 {
    color: white;
}
#nav-leftr img {
    width: 65px;
}
.legendsr {
    font-size: 46px;
    font-family: 'Permanent Marker', cursive;
    /* color: rgb(224, 160, 22); */
    color: rgb(197, 142, 23);
}
#nav-rightr {
    margin-right: -625px;
}
#nav-rightr a {
    font-size: 24px;
    margin-left: 30px;
    /* font-weight: 600; */
}
#nav-rightr a:hover {
    background: linear-gradient(to top right, red, rgb(182, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.push-right {
    display: flex;
    justify-content: end;
    margin-right: 40px;
}
#toggle {
    position: relative;
    display: block;
    width: 58px;height:28px;
    border-radius: 100px;
    border: 1px solid grey;
    cursor: pointer;
    transition: 0.5s;
    background: #fff;
    box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
                inset 0 2px 8px rgba(0, 0, 0, 0.1),
                inset 0 -4px 8px rgba(0, 0, 0, 0.05);
}
#toggle div:nth-child(2) {
    content: url("../assets/lunatone.png");
    width: 32px;height:32px;
    margin: -2px 0 0 28px;
}
#toggle div:nth-child(3) {
    content: url("../assets/solrock.webp");
    width: 30px;height:30px;
    margin: -31px 0 0 0;
}
#toggle.darkon {
    background: #222;
    box-shadow: inset 0 0px 60px rgba(0,0,0,0.1),
                inset 0 8px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.1);
}
#toggle .indicator {
    position: absolute;
    top:1.5px;left:2px;
    width: 25px;
    height:25px;
    background: linear-gradient(to bottom, #969696, #a8a8a8);
    border-radius: 50%;
    transition: 0.5s;
}
#toggle.darkon .indicator {
    background: linear-gradient(to bottom, #444, #222);
    left: 31px;
}


  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  #menuToggle span {
    display: flex;
    width: 32px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: rgb(22, 22, 32);
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  #menuToggle.darkon span {
    background: #e1e1e1;
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-1px, 1px);
    background: #1b1c1e;
  }
  #menuToggle.darkon input:checked ~ span {
    background: #e1e1e1;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: absolute;
    width: 300px;
    /* height: 100vh; */
    margin: 59px 0 0 -300px;
    padding: 15px 50px 30px;
    list-style: none;
    background-color: #1b1c1e;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    border-bottom-left-radius: 10px;
    border: 2px solid black;
    border-top-left-radius: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%245C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right bottom, #000000, #151314, #211f22, #2b2c31);
  }
  #menu.darkon {
    border: 2px solid grey;
  }
  #menu li {
    padding: 8.5px 0;
    transition-delay: 2s;
  }
  #menu li a {
    color: white;
    transition: ease all 0.2s;
  }
  #menu li a:hover {
    color: rgb(224, 160, 22);
    margin-left: 2.5px;
  }
  #menu hr {
    margin: 10px 0px;
    width: 90%;
  }
  .tittle {
    font-size: 14px;
  }
  .sub-nav {
    margin-left: 30px;
    font-size: 12px;
  }
  .sub-nav-non {
    font-size: 12px;
  }
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }
  .social-popup {
    margin-top: 25px;
  }
  .social-popup img {
    width: 32px;height:32px;
    border-radius: 7px;
    margin-right: 18px;
  }

  @media screen and (max-width: 1000px) {
    #top-navr {
        height: 80px;
    }
    #nav-leftr h1 {
        font-size: 25px;
    }
    #menu {
        margin-top: 52px;
    }
    .legendsr {
        font-size: 33px;
    }
    #nav-leftr img {
        width: 40px;
    }
    #menuToggle span {
        width: 30px;
        height: 3px;
    }
  }
  @media screen and (max-width: 800px) {
    #top-navr {
        height: 50px;
    }
    #nav-leftr h1 {
        font-size: 22px;
    }
    .legendsr {
        font-size: 26px;
    }
    #nav-leftr img {
        width: 35px;
    }
    #menuToggle {
        top: 4px;
    }
    #menuToggle span {
        width: 28px;
        height: 3px;
    }
    #menu {
        margin-top: 34px;
    }
  }
  @media screen and (min-width: 700px) {
    .tittle {
        font-size: 16px;
      }
      .sub-nav,
      .sub-nav-non {
        font-size: 14px;
      }
      #menu li {
        padding: 10px 0;
      }
  }