.welcome-top {
    /* background-image: url("../assets/dark-bg.png");
    background-size: cover;
    background-position: center; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%245C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right bottom, #000000, #151314, #211f22, #2b2c31);
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}
.welcome-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 1px 200px;
    text-align: center;
}
.sponsored-title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 15px;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flex-row-wide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.side-icon {
    width: 17.5px;height:auto;
    border-radius: 5px;
    margin-right: 5px;
}
.new-homepage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 35px;
}
.homepage-main-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.top-featured-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 40px;
}
.homepage-box {
    height: 325px;
    width: 375px;
    margin-bottom: 50px;
}
.homepage-box2 {
    height: 240px;
    width: 375px;
    margin-bottom: 50px;
}
.featured-link {
    color: rgb(224, 160, 22) !important;
    font-weight: 600;
}
.homepage-box a,
.homepage-box2 a {
    color: white;
}
.blue {
    color: rgb(0, 58, 167) !important;
    font-size: 13px;
}
.blue:hover {
    color: rgb(224, 160, 22) !important;
}
.blue.darkon {
    color: rgb(224, 160, 22) !important;
}
.blue.darkon:hover {
    color: white !important;
}
.wrapped-feature,
.wrapped-feature-second-row {
    border: 1px solid rgb(140, 140, 140);
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(60, 60, 60);
    color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
    padding-bottom: 10px;
    position: relative;
    transition: ease-out all 0.25;
}
.wrapped-feature {
    height: 340px;
}
.wrapped-feature-second-row {
    height: 260px;
}
.wrapped-feature:hover,
.wrapped-feature-second-row:hover {
    box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
    background-color: rgb(50, 50, 50);
}
.wrapped-feature:hover > img,
.wrapped-feature:hover > .article-thumbnail img,
.wrapped-feature-second-row:hover > img {
    transform: scale(1.05);
    transform-origin: 50% 50%;
}
.article-type {
    position: absolute;
    bottom: 150px;
    right: 0;
    color: white;
    padding: 5px 10px;
    border-top-left-radius: 13px;
    font-weight: 600;
    font-style: italic;
}
.modern-article {
    background-color: rgb(0, 94, 255);
}
.retro-article {
    background-color: rgb(238, 65, 34);
}
.other-article {
    background-color: rgb(224, 160, 22);
}
.wrapped-feature img, 
.wrapped-feature-second-row img,
.article-thumbnail img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    transition: ease-in-out all 0.2s;
}
.article-thumbnail img {
    position: relative;
}
.featured-headers {
    font-size: 20px;
    font-weight: 600;
    color: rgb(70, 70, 70);
    margin-bottom: 7.5px;
}
.featured-headers.darkon {
    color: #e1e1e1;
}
.homepage-box-content {
    padding: 10px;
    height: 75px;
    display: flex;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
}
.homepage-box-content h3 {
    font-size: 16px;
    margin-bottom: 7px;
    /* color: rgb(48, 48, 48); */
}
.homepage-box-content p {
    font-size: 13px;
}
.featured-box-date {
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
    position: absolute;
    bottom: 13px;
    right: 7px;
}
.featured-box-name-and-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    margin: 0 7px 5px 15px;
    position: absolute;
    bottom: 0;
    width: 93%;
}
.profile-pic {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-pic img {
    width: 30px;
    height: auto;
    border-radius: 50%;
    margin-right: 8px;
}
.profile-pic p {
    font-size: 14px;
}
.upcoming-events ul {
    list-style: none;
}
.upcoming-events li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}
.upcoming-events a {
    color: black;
}
.upcoming-events.darkon h4,
.upcoming-events.darkon a {
    color: white;
}
.upcoming-events.darkon p {
    color: #E1E1E1;
}
.event-date {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.upcoming-loc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flag-place {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.flag-place img {
    width: 17px;
    height: auto;
    margin-right: 5px;
}
.event-date h4 {
    font-size: 15px;
}
.event-date:hover > h4 a {
    color: rgb(224, 160, 22);
}
.event-date p {
    font-size: 13px;
}
.event-type-logo {
    width: 50px;height:auto;
    margin-right: 10px;
}
.homepage-hr {
    width:100%;
    margin:10px 0 25px;
    border-bottom: 1px solid rgb(180, 180, 180);
}
.one-more-link.darkon {
    color: rgb(224, 160, 22) !important;
}

.homepage-hide-medium {
    display: none;
}
.hide-until-mobile {
    display: none;
}

.homepage-side {
    /* background-color: rgba(0, 100, 0, 0.056); */
    width: 25%;
    padding: 15px;
}
.homepage-side ul {
    margin-left: 30px;
    line-height: 1.5;
    margin-top: 5px;
    font-size: 14px;
}
.homepage-side ol {
    margin-left: 30px;
    line-height: 1.7;
    margin-top: 5px;
    font-size: 14px;
}
.side-section {
    margin-bottom: 40px;
}
.side-section p {
    font-size: 14px;
}
.side-section a {
    color: rgb(0, 58, 167);
}
.side-section.darkon h4,
.side-section.darkon li {
    color: white;
}
.side-section.darkon a,
.side-section.darkon p {
    color: rgb(208, 208, 208);
}
.side-section a:hover {
    color: rgb(224, 160, 22);
}

.hide-on-small {
    display: none;
}
.make-me-white.darkon {
    color:white;
}

@media screen and (max-width: 1700px) {
    .homepage-box {
        height: 345px;
        width: 325px;
        margin-bottom: 45px;
    }
    .homepage-box2 {
        height: 250px;
        width: 325px;
        margin-bottom: 45px;
    }
    .wrapped-feature {
        height: 355px;
    }
    .article-type {
        bottom: 165px;
    }    
}
@media screen and (max-width: 1500px) {
    .homepage-box {
        height: 345px;
        width: 280px;
        margin-bottom: 45px;
    }
    .homepage-box2 {
        height: 250px;
        width: 280px;
        margin-bottom: 45px;
    }
    .homepage-box-content {
        padding: 10px;
        height: 75px;
    }
    .homepage-box-content h3 {
        font-size: 14px;
        margin-bottom: 6px;
    }
    .homepage-box-content p {
        font-size: 12px;
    }
    .featured-box-date {
        font-size: 11px;
        bottom: 9px;
    }
    .profile-pic img {
        width: 25px;
    }
    .homepage-hr {
        margin:10px 0 15px;
    }
    .featured-headers {
        font-size: 16px;
    }
    .blue {
        font-size: 10px;
    }
    
}
@media screen and (max-width: 1383px) {
    .welcome-header {
        font-size: 14px;
    }
}
@media screen and (max-width: 1300px) {
    .homepage-main-content {
        width: 80%;
    }
    .homepage-side {
        width: 20%;
        padding: 15px;
    }
    .homepage-hr {
        margin:10px 0 25px;
    }
    .side-section {
        margin-bottom: 20px;
    }
    .side-section h4 {
        font-size: 14px;
    }
    .side-section p, 
    .side-section a {
        font-size: 12px;
    }
}
@media screen and (max-width: 1265px) {
    .welcome-top {
        height: 12vh;
    }
    .welcome-header {
        padding: 1px 100px;
    }
}
@media screen and (max-width: 1200px) {
    .welcome-top {
        height: 8vh;
    }
    .featured-link {
        font-size: 11px;
    }
    .homepage-hr {
        margin:-5px 0 15px;
    }
    .sponsored-title {
        margin-bottom: 5px;
    }
    .move-it-up {
        margin-top: -30px;
    }
    .event-type-logo {
        width: 40px;
    }
    .top-featured-row {
        margin-bottom: 30px;
    }
    .new-homepage {
        padding: 20px;
    }
    .welcome-header p {
        font-size: 10px;
    }
    .homepage-box {
        height: 280px;
        width: 250px;
        margin-bottom: 25px;
    }
    .homepage-box2 {
        height: 250px;
        width: 250px;
        margin-bottom: 25px;
    }
    .wrapped-feature {
        height: 275px;
    }
    .wrapped-feature-second-row {
        height: 210px;
    }
    .featured-headers {
        font-size: 14px;
        font-weight: 600;
        color: rgb(70, 70, 70);
        margin-bottom: 7.5px;
    }
    .article-type {
        bottom: 135px;
        font-size: 12px;
    }   
    .wrapped-feature img, 
    .wrapped-feature-second-row img,
    .article-thumbnail img {
        height: 150px;
    } 
    .homepage-box-content h3 {
        font-size: 12px;
        margin-bottom: 6px;
    }
    .homepage-box-content p {
        font-size: 10px;
    }
    /* .featured-box-date {
        font-size: 10px;
        bottom: 5px;
        right: 10px;
    } */
    .profile-pic img {
        height: 23px;
        width: auto;
    }
    .profile-pic p {
        font-size: 12px;
    }
    .side-icon {
        width: 15px;
    }
    .homepage-hide-large {
        display: none;
    }
    .homepage-hide-medium {
        display: block;
    }
}
@media screen and (max-width: 1050px) {
    .new-homepage {
        flex-direction: column;
        justify-content: space-between;
    }
    .article-type {
        bottom: 155px;
        font-size: 12px;
    }  
    .homepage-side {
        /* width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap; */
        display: none;
    }
    /* .side-section {
        margin-bottom: 10px;
        width: 200px;
        margin-left: 25px;
        margin-right: 15px;
    } */
    .homepage-main-content {
        width: 100%;
    }
    .homepage-box {
        height: 290px;
        width: 280px;
        margin-bottom: 45px;
    }
    .homepage-box2 {
        height: 230px;
        width: 280px;
        margin-bottom: 45px;
    }
    .wrapped-feature {
        height: 295px;
    }
    .wrapped-feature-second-row {
        height: 220px;
    }
    .homepage-box-content {
        padding: 10px;
        height: 75px;
    }
    .homepage-box-content h3 {
        font-size: 14px;
        margin-bottom: 6px;
    }
    .homepage-box-content p {
        font-size: 12px;
    }
    .event-date h4 {
        font-size: 13px;
    }
    .event-date p {
        font-size: 12px;
    }
}
@media screen and (max-width: 915px) {
    .homepage-box {
        height: 265px;
        width: 250px;
    }
    .article-type {
        bottom: 142px;
        font-size: 12px;
    } 
    .homepage-box2 {
        height: 230px;
        width: 250px;
    }
    .wrapped-feature {
        height: 282px;
    }
    .wrapped-feature-second-row {
        height: 215px;
    }
    .homepage-box-content {
        padding: 10px;
        height: 75px;
    }
    .homepage-box-content h3 {
        font-size: 12px;
        margin-bottom: 6px;
    }
    .homepage-box-content p {
        font-size: 11px;
    }
    .event-date p {
        font-size: 11px;
    }
}
@media screen and (max-width: 820px) {
    .hide-it-all {
        display: none;
    }
    .hide-on-small {
        display: flex;
    }
    .move-it-up-some {
        justify-content: flex-start !important;
        margin-top: -55px;
        margin-bottom: -30px;
    }
    .homepage-main-content {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .nart {
        margin-top: 10px;
    }
    .homepage-box {
        height: 265px;
        width: 300px;
        margin-bottom: 60px;
    }
    .wrapped-feature {
        height: 272px;
    }
    .homepage-box2 {
        height: 265px;
        width: 300px;
        margin-bottom: 10px;
    }
    .homepage-box3 {
        height: 265px;
        width: 300px;
        margin-bottom: 60px;
    }
    .homepage-hr {
        margin:0 0 15px;
    }
    .sponsored-title {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 0px;
    }
    .article-type {
        bottom: 131px;
    } 
    .welcome-top {
       display: none;
    }
}
@media screen and (max-width: 675px) {
    .homepage-box {
        height: 225px;
        width: 250px;
        margin-bottom: 105px;
    }
    .wrapped-feature {
        height: 280px;
    }
    .homepage-box2 {
        height: 225px;
        width: 250px;
        margin-bottom: 40px;
    }
    .homepage-box3 {
        width: 250px;
        width: 250px;
        margin-bottom: 60px;
    }
    .article-type {
        bottom: 140px;
        font-size: 11px;
    } 
    .homepage-hr {
        margin:10px 0 15px;
    }
    .event-date h4 {
        font-size: 12px;
    }
    .event-date p {
        font-size: 10px;
    }
}
@media screen and (max-width: 570px) {
    .homepage-box {
        height: 200px;
        width: 225px;
        margin-bottom: 130px;
    }
    .homepage-box2 {
        height: 200px;
        width: 225px;
        margin-bottom: 60px;
    }
    .homepage-box3 {
        height: 200px;
        width: 225px;
        margin-bottom: 130px;
    }
    .wrapped-feature {
        height: 280px;
    }
    .featured-box-name-and-date {
        width: 89%;
    }
    .article-type {
        bottom: 140px;
        font-size: 10px;
    } 
    .homepage-box-content h3 {
        font-size: 11px;
    }
    .homepage-box-content p {
        font-size: 10px;
    }
    .featured-headers {
        font-size: 12px;
    }
    .featured-link {
        font-size: 10px;
    }
}
@media screen and (max-width: 520px) {
    .homepage-box {
        height: 340px;
        width: 365px;
        margin-bottom: -8px;
    }
    .wrapped-feature {
        height: 270px;
    }
    .move-it-up-some {
        justify-content: center !important;
    }
    .homepage-box2 {
        height: 340px;
        width: 365px;
        margin-bottom: -70px;
    }
    .top-featured-row {
        justify-content: center;
    }
    .homepage-box3 {
        height: 340px;
        width: 365px;
        margin-bottom: -35px;
    }
    .homepage-box-content h3 {
        font-size: 14px;
    }
    .homepage-box-content p {
        font-size: 12px;
    }
    .wrapped-feature-second-row {
        height: 215px;
    }
    .article-type {
        bottom: 140px;
        font-size: 13px;
    } 
    .featured-headers {
        font-size: 14px;
    }
    .featured-link {
        font-size: 12px;
    }
    .hide-until-mobile {
        display: flex;
    }
    .hide-on-mobile {
        display: none;
    }
    .move-more {
        margin-top: -50px;
    }
    .article-type {
        bottom: 130px;
        font-size: 10px;
    } 
    .peepee {
        margin-top: -30px;
    }
}
@media screen and (max-width: 375px) {
    .homepage-box-content h3 {
        font-size: 12px;
    }
    .homepage-box-content p {
        font-size: 10px;
    }
    .featured-link {
        font-size: 10px;
    }
}
