.center {
    display: flex;
    justify-content: center;
    width: 100%;
}
.regional-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: -50px;
}
.regional-info {
    width: 100%;
    padding: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #191919;
    border-top: 2px solid grey;
    color: #E1E1E1;
}
.place-n-flag {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.regional-container a {
    color: rgb(224, 160, 22);
}
.regional-container a:hover {
    color: rgb(255, 225, 207);
}
.place-n-flag img {
    margin: -8px 0 0 15px;
}
.left-regional-info {
    display: flex;
    flex-direction: column;align-items: flex-start;
}
.regional-info h2 {
    margin-bottom: 5px;
}
.outer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.outer-links p,
.regional-info p,
.regional-info a {
    margin-bottom: 5px;
}
.outer-links i {
    font-size: 18px;
    transform: rotate(-45deg);
}
.regional-result {
    width: 100%;
    display: flex;
    justify-content: center;
}
.regional-result.darkon h3 {
    color: #E1E1E1;
}
.pending {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-left: 50px;
    text-align: center;
}
.reg-hr {
    display: none;
}
.event-content {
    width: 100%;
    max-width: 100%;
}
.results-list-item {
    width: 700px;
}
.masters-ol,
.seniors-ol,
.juniors-ol {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}
.masters-ol li,
.seniors-ol li,
.juniors-ol li {
    list-style-position: inside;
    padding-left: 5px;
}
.masters-ol li:nth-of-type(1),
.masters-ol li:nth-of-type(2),
.masters-ol li:nth-of-type(3),
.masters-ol li:nth-of-type(4),
.masters-ol li:nth-of-type(5),
.masters-ol li:nth-of-type(6),
.masters-ol li:nth-of-type(7),
.masters-ol li:nth-of-type(8),
.masters-ol li:nth-of-type(9),
.seniors-ol li:nth-of-type(1),
.seniors-ol li:nth-of-type(2),
.seniors-ol li:nth-of-type(3),
.seniors-ol li:nth-of-type(4),
.seniors-ol li:nth-of-type(5),
.seniors-ol li:nth-of-type(6),
.seniors-ol li:nth-of-type(7),
.seniors-ol li:nth-of-type(8),
.seniors-ol li:nth-of-type(9),
.juniors-ol li:nth-of-type(1),
.juniors-ol li:nth-of-type(2),
.juniors-ol li:nth-of-type(3),
.juniors-ol li:nth-of-type(4),
.juniors-ol li:nth-of-type(5),
.juniors-ol li:nth-of-type(6),
.juniors-ol li:nth-of-type(7),
.juniors-ol li:nth-of-type(8),
.juniors-ol li:nth-of-type(9) {
    padding-left: 17px !important; 
}
.contain-event {
    margin-left: 50px;
}
.name-n-flag {
    text-align: start;
    white-space: wrap;
}

@media screen and (max-width: 1500px) {
    .regional-container {
        width: 80%;
    }
}
@media screen and (max-width: 1200px) {
    .regional-container p, 
    .regional-container a {
        font-size: 14px;
    }
    .regional-info h2 {
        font-size: 22px;
    }
    .place-n-flag img {
        width: 28px;height:auto;
    }
}
@media screen and (max-width: 1050px) {
    .results-list-item {
        width: 600px;
    }
}
@media screen and (max-width: 950px) {
    .regional-container {
        width: 94%;
    }
}
@media screen and (max-width: 800px) {
    .results-list-item {
        width: 550px;
    }
}
@media screen and (max-width: 725px) {
    .results-list-item {
        width: 525px;
    }
}
@media screen and (max-width: 700px) {
    .regional-container {
        display: flex;
        justify-content: center !important;
    }
    .regional-container p, 
    .regional-container a {
        font-size: 12px;
    }
    .regional-info h2 {
        font-size: 20px;
    }
    .place-n-flag img {
        width: 25px;
        margin-left: 6px;
    }
    .regional-result.darkon h3 {
       font-size: 16px;
    }
    .results-list-item {
        width: 500px;
    }
}
@media screen and (max-width: 675px) {
    .masters-ol li,
    .seniors-ol li,
    .juniors-ol li {
        padding-left: 5px !important;
    }
    .results-list-item {
        width: 400px;
    }
    .name-n-flag {
        padding-left: 5px;
    }
}
@media screen and (max-width: 625px) {
    .regional-info {
        flex-direction: column;
        align-items: flex-start;
        border-top: 2px solid grey;
        padding: 15px 25px;
    }
    .outer-links {
        align-items: flex-start;
        margin-top: 5px;
    }    
    .reg-hr {
        display: flex;
        width: 40%;
        border-bottom: 1px solid grey;
        margin-top: 5px;
    }
    .pending h3 { 
        font-size: 12px !important;
    }
}
@media screen and (max-width: 555px) {
    .name-n-flag {
        font-size: 12px;
    }
    .masters-ol li,
    .seniors-ol li,
    .juniors-ol li {
        font-size: 12px;
    }
    .results-list-item {
        height: 40px;
        max-height: 40px;
        width: 350px;
        margin-bottom: 3px !important;
    }
    .sprite {
        width: 45px;
    }
    .flag-size {
        width: 15px;
        border-radius: 3px;
    }
    .list-icon {
        width: 18px;
    }
    .masters-ol li:nth-of-type(1),
    .masters-ol li:nth-of-type(2),
    .masters-ol li:nth-of-type(3),
    .masters-ol li:nth-of-type(4),
    .masters-ol li:nth-of-type(5),
    .masters-ol li:nth-of-type(6),
    .masters-ol li:nth-of-type(7),
    .masters-ol li:nth-of-type(8),
    .masters-ol li:nth-of-type(9),
    .seniors-ol li:nth-of-type(1),
    .seniors-ol li:nth-of-type(2),
    .seniors-ol li:nth-of-type(3),
    .seniors-ol li:nth-of-type(4),
    .seniors-ol li:nth-of-type(5),
    .seniors-ol li:nth-of-type(6),
    .seniors-ol li:nth-of-type(7),
    .seniors-ol li:nth-of-type(8),
    .seniors-ol li:nth-of-type(9),
    .juniors-ol li:nth-of-type(1),
    .juniors-ol li:nth-of-type(2),
    .juniors-ol li:nth-of-type(3),
    .juniors-ol li:nth-of-type(4),
    .juniors-ol li:nth-of-type(5),
    .juniors-ol li:nth-of-type(6),
    .juniors-ol li:nth-of-type(7),
    .juniors-ol li:nth-of-type(8),
    .juniors-ol li:nth-of-type(9) {
        padding-left: 14px !important; 
    }
}
@media screen and (max-width: 530px) {
    .masters-ol,
    .seniors-ol,
    .juniors-ol {
        margin-left: 0px !important;
    }
    .player-deck-icons {
        padding-right: 15px;
    }
}
@media screen and (max-width: 500px) {
    .results-list-item {
        width: 300px;
    }
    .results-list-item li {
        padding-left: 0px !important;
    }
    .event-content {
        max-width: none;
    }
}
@media screen and (max-width: 450px) {
    .regional-container {
        width: 150%;
    }
    .regional-info {
        flex-direction: column;
        align-items: flex-start;
        border-top: 2px solid grey;
        padding: 15px 0 15px 70px;
    }
}
@media screen and (max-width: 400px) {
    .place-n-flag {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
    }
    .place-n-flag img {
        margin: -3px 0 2px;   
    }
}
@media screen and (max-width: 360px) {
    .results-list-item {
        width: 270px;
    }
}