.contain-worlds {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.worlds-icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
}
.others-icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 60%;
    margin-top: 50px;
}
.worlds-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 5px 40px 5px;
    transition: ease all 0.15s;
}
.worlds-box:hover > img,
.nats-box:hover img {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
}
.worlds-box:hover > p,
.nats-box:hover p,
.others-box:hover p {
    box-shadow: 3px 3px 7px rgba(0,0,0,0.7);
    color: rgb(187, 173, 45);
}
.others-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-bottom: 60px;
}
.deck-rd img {
    border-radius: 5px;
}
.worlds-box img {
    width: 300px;
    height: 180px;
    border: 2px solid black;
    border-radius: 4px;
    transition: ease all 0.2s;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}
.worlds-box p,
.others-box p {
    font-size: 26px;
    margin-top: 10px;
    background-color: rgb(49, 49, 49);
    color:white;
    border-radius: 15px;
    padding: 5px 35px;
    transition: ease all 0.15s;
}
.others-box p {
    width: 70%;
    text-align: center;
    /* margin-top: 15px; */
}

.hidden-hr {
    width:90%;
    display: none;
}

.contain-event {
    display: flex;
    justify-content: center;
    margin: 25px 0px;
}
.event-content {
    width: 70%;
    max-width: 70%;
}
.summary,
.event-results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.summ-left {
    width: 65%;
}
.summ-left * {
    margin-bottom: 5px;
}
/* .worlds-hr {
    width: 55%;
    margin-left: 10px;
    margin-top: 15px;
} */
.worlds-hr {
    display: none;
}
.worlds-paragraph {
    width: 80%;
    margin-top: 20px;
}
.awardee-paragraph {
    width: 80%;
}
.cp-area {
    margin-top: 20px;
}
.cp {
    width: 80%;
}
.auto-day2-area {
    width: 50%;
}
.auto-day2-area2 {
    width: 100%;
    margin-top: 20px;
}
.auto-day2-area-2022 {
    width: 100%;
}
.auto-day2-area2 ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.day2-right-worlds {
    width: 70%;
}
.day2-right {
    margin-left: 80px;
}
.auto-day2-area-2022 .rating-zone {
    width: 40%;
}
.rating-zone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.summ-right {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.summ-right * {
    margin-bottom: 7px;
}
/* .summ-left p:nth-child(1) {
    margin-left: 250px;
} */
.worlds-logo,
.worlds-logo2 {
    width: 100px;
}
.worlds-logo3 {
    width: 180px;
}
.worlds-logo4 {
    width: 250px;
}
.worlds-logo5 {
    width: 150px;
}
.worlds-logo10 {
    width: 130px;
}
.worlds-logo6 {
    width: 270px;
}
.worlds-logo7 {
    width: 220px;
}
.worlds-logo8 {
    width: 239px;
}
.worlds-logo9 {
    width: 290px;
}
.worlds-loc {
    width: 100%;
    border-radius: 10px;
}
.prizing-header {
    margin-top: 15px;
}
.prize-zone {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}
.cast-box {
    border: 1px solid rgb(167, 167, 167);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    background-color: #fff;
    width: 80%;
}
.casters-zone {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}
.casters-zone img {
    width: 75px;
    height: 75px;
    border-radius: 20px;
    margin-left: 5px;
}

.results-left {
    width: 40%;
}
.results-right {
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.center {
    text-align: center;
}
.underline {
    text-decoration: underline;
}
.divisions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}
.divisions p {
    padding: 5px 10px;
    border-radius: 10px;
}
.light-bg {
    background-color: rgb(226, 226, 226);
}
.dark-bg {
    background-color: rgb(156, 156, 156);
}
.light-bg:hover {
    box-shadow: 2px 2px 2px darkgray;
    cursor: pointer;
}
.results-left ol {
    margin-top: 15px;
}
li {
    color: black;
    transition: ease all 0.1s;
}
.player-list-hover:hover {
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    cursor: pointer;
}
.name-n-flag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
}
.name-n-flag {
    font-size: 18px;
}
.flag-size {
    width: 20px;
    margin-right: 10px;
    border-radius: 5px;
}
.flag-size-large {
    width: 30px;
    border-radius: 5px;
}
.results-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.player-deck-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -5px;
}
.sprite {
    width: 55px;
    /* height: 45.3px; */
}

.lcq-q li {
    font-size: 12px;
}
.lead {
    font-weight: bold;
    text-decoration: underline;
}

.second-sprite {
    margin-left: -17.5px;
}
.masters-meta,
.center-seniors-meta,
.center-juniors-meta {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.meta-chart {
    width: 100%;
    margin: 15px 0px;
}
.small-meta-chart {
    width: 50%;
    margin: 15px 0px;

}
.under-meta-chart {
    width: 200px;
    margin: 15px auto;
}
.list-icon {
    padding-right: 15px;
    margin-top: 5px;
    margin-left: 5px;
    width: 22px;
}
.promo-card,
.promo-card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    text-align: center;
}
.promo-card img,
.promo-card2 img {
    width: 210px;
    border-radius: 5px;
}
/* .promo-card2 img {
    width: 60%;
    border-radius: 5px;
} */

.gallery {
    border: 3.5px solid black;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(48, 48, 48);
}
.videos-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.videos-section a,
.videos-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin-bottom: 15px;
}
.videos-section img {
    width: 500px;
    margin-top: 5px;
    transition: ease all 0.2s;
    border: 3.5px solid black;
    border-radius: 2px;
}
.videos-section a img:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(29, 29, 29, 0.9);
 }
.videos-section p {
    margin-top: 5px;
    width: 60%;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    line-height: 22px;
}
.videos-section h3 {
    background-color: rgb(49, 49, 49);
    border-radius: 12px;
    color: #fff;
    padding: 5px 35px;
}    

.seniors-ol,
.juniors-ol,
.seniors-meta,
.juniors-meta {
    display: none;
    align-items: center;
    flex-direction: column;
}

#modal-section {
    display: none;
}
.modal {
    width: 90%;
    max-height: 85vh;
    background-size: cover;
    border: 4px solid rgb(163, 163, 163);
    border-radius: 15px;
    padding: 25px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);    
    /* transition: all ease 2s; */
    z-index: 100;
    background-image: url(../assets/dark-bg.png) !important;
}
.modal-top {
    display: flex;
    justify-content: space-between;
}
.cs-plus-ap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cs-plus-ap * {
    margin-right: 10px;
    color: white;
}
.cs-plus-ap p {
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0,0,0,0.7);
    padding: 7px 15px;
    border-radius: 15px;
    color: white;
}
.behind-modal {
    width:100%;height:100%;
    position: fixed;
    top: 0;left: 0;
    background-color: rgba(0,0,0,0.8);
    background: rgba(0,0,0,0.8);
    z-index: 30;
    display: none;
}
.behind-modal:hover {
    cursor: pointer;
}
.second-behind-modal {
    width:100%;height:100%;
    position: fixed;
    top: 0;left: 0;
    background-color: rgba(0,0,0,0.9);
    background: rgba(0,0,0,0.9);
    z-index: 90;
    display: none;
}
.second-behind-modal:hover {
    cursor: pointer;
}

.center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.country-txt {
    max-width: 75%;
    margin: 0px 0px;
    text-align: center;
    font-size: 18px;
}
.country-txt2 {
    max-width: 75%;
    margin: 25px 0px;
    text-align: center;
    font-size: 24px;
    color: rgb(0, 94, 255);
}

.modal-x {
    font-size: 18px;
    padding: 10px;
    /* margin-top: -10px; */
    color: white;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid rgb(163, 163, 163);
    border-radius: 50%;
    padding: 5px 13px 5px 13px;
    font-weight: bold;
    box-shadow: 0.5px 0.5px 10px rgba(175, 0, 0, 0.2);
    transition: ease all 0.1s;
}
.modal-x p {
    font-family: 'Permanent Marker', cursive;
}
.modal-x:hover {
    cursor: pointer;
    color: rgb(175, 13, 13);
    border: 1px solid rgb(175, 13, 13);
}
.modal-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}
.pokemon-card {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 2.5px;
    /* border-radius */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    /* box-shadow */
    -webkit-box-shadow: rgba(0,0,0,0.8) 2px 2px 7px;
    -moz-box-shadow: rgba(0,0,0,0.8) 2px 2px 7px;
    box-shadow: rgba(0,0,0,0.8) 2px 2px 7px;
}
.pokemon-card:hover {
    cursor: pointer;
}
.pok-card-small {
    position: relative;
    top: 0;
    left: 0;
    width: 105px;
}
.old-card {
    border-radius: 3.5%;
    background-color: rgb(255, 210, 0);
    padding: 1px;
}
.ex-era-card {
    border-radius: 3.5%;
    background-color: rgb(196, 186, 170);
    padding: 1px;
}
.delta-era-card {
    border-radius: 3.5%;
    background-color: rgb(201, 157, 0);
    padding: 1px;
}
.dp-card {
    border-radius: 3.5%;
    background-color: rgb(227, 220, 106);
    padding: 1px;
}
.radius-card {
    border-radius: 4%;
}
.semi-radius-card {
    border-radius: 3.5%;
    background-color: rgb(255, 210, 0);
    padding: 0.5px;
}
.semi-ex-card {
    border-radius: 3.5%;
    background-color: rgb(196, 186, 170);
    padding: 0.5px;
}
.num-1 {
    position: absolute;
    width: 35px;
    margin-bottom: 10px;
    background-color: black;
    border-radius: 50%;
    padding:2px;
}

.set-btn {
    background-color: rgb(97, 97, 97);
    border-radius: 12px;
    color: #fff;
    padding: 5px 15px;
    transition: 0.2s ease all;
}
.set-btn:hover {
    background-color: rgb(67, 67, 67);
    color: rgb(187, 173, 45);
}
.set-btn-small {
    padding: 5px 15px;
    font-size: 14px;
}

.hidden-top-summ {
    display: none;
}
.hidden-prizing,
.hidden-item {
    display: none;
}
.hidden-poke {
    display: none;
    position: absolute;
    z-index: -100;
}
.big-pika {
    display: none;
    position: absolute;
    z-index: -100;
    top: 100px;
    right: 0;
    width: 310px;
    opacity: 0.4;
}
.hidden-cast-box {
    display: none;
}
.reverse {
    transform:scaleX(-1);
}
.medium {
    width: 200px;
}
.fb-img {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 10px;
    padding: 5px;
}
.twohundred {
    width: 60%;
    margin: 0px auto;
}

.sets {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.two-sets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.left-set {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}
.right-set {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}
.set-icon {
    width: 30px;
}
.large-set-icon {
    width: 17px;
}
.set-logo {
    height: auto;
    width: 10vw;
    margin-left: 10px;
}
@media screen and (min-width: 1600px) {
    .set-logo {
        height: auto;
        width: 7vw;
    }
}
.old-logo {
    margin-bottom: -5px;
}
/* .  {
    height: auto;
    width: 10vw;
} */


@media screen and (min-width: 1650px) {
    .modal {
     width: 60%;
    }
}
@media screen and (max-width: 1550px) {
    .others-icons {
        width: 75%;
    }
    .day2-right-worlds {
        width: 50%;
    }
}
@media screen and (max-width: 1300px) {
    .modal {
     width: 80%;
    }
}
@media screen and (max-width: 1250px) {
    .auto-day2-area {
        width: 70%;
    }
    .prize-zone {
        width: 80%;
    }
    .results-left {
        width: 50%;
    }
    .results-right {
        width: 45%;
    }
    .pok-card-small {
        width: 80px;
    }
    .others-icons {
        width: 90%;
    }
}
@media screen and (max-width: 1190px) {
    .worlds-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 3px 15px 3px;
    }
    .worlds-box img {
        width: 230px;
        height: 132px;
    }
    .worlds-box p {
        font-size: 18px;
        margin-top: 5px;
    }
    .worlds-icons {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
    }
}
@media screen and (max-width: 1050px) {
    .event-content {
        width: 80%;
        max-width: 80%;
    }
    .modal {
        width: 90%;
    }
    .num-1 {
        width: 25px;
    }
    .others-icons {
        width: 100%;
    }
    .others-box {
        width: 250px;
        margin-bottom: 40px;
    }
    .worlds-box p,
    .others-box p {
        font-size: 22px;
        border-radius: 10px;
        padding: 5px 25px;
    }
    .others-box p {
        width: 70%;
    }
    .day2-right-worlds {
        width: 40%;
    }
    .rating-zone {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
}
/* @media screen and (max-width: 950px) {
    .two-sets {
        display: flex;
        flex-direction: column;
   }
} */
@media screen and (max-width: 900px) {
    .event-content {
        width: 90%;
        max-width: 90%;
    }
    .results-left {
        width: 45%;
    }
    .summary,
    .event-results {
    justify-content: space-around;
    }
    .pok-card-small {
        width: 70px;
    }
    .contain-worlds {
        margin-top: 10px;
    }
}
@media screen and (max-width: 803px) {
    .worlds-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 3px 15px 3px;
    }
    .worlds-box img {
        width: 150px;
        height: 90px;
        border: 1.5px solid black;
        border-radius: 4px;
    }
    .worlds-box p {
        font-size: 16px;
        margin-top: 5px;
        background-color: rgb(49, 49, 49);
        color:white;
        border-radius: 10px;
        padding: 3px 15px;
    }
    .worlds-icons {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
    }
}
@media screen and (max-width: 780px) {
    /* .event-content {
        width: 90%;
        max-width: 90%;
        display: flex;
        justify-content: center;
    } */
    /* .sets {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 0%;
    }
    .left-set {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 0%;
    }
    .right-set {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 0%;
    } */
    .hidden-poke {
        display: block;
        top: 150px;
        right: 0;
        width: 480px;
        height: auto;
        opacity: 0.4;
    }
    .big-pika {
        display: block;
        top: 150px;
        right: 0;
        width: 420px;
        height: auto;
        opacity: 0.4;
    }
    .cs-plus-ap p {
        font-size: 16px;
        font-weight: bold;
    }
    .summary,
    .event-results {
        display: flex;
        align-items: space-between;
        flex-wrap: wrap;
    }
    .others-box {
        width: 200px;
        margin-bottom: 40px;
    }
    .worlds-box p,
    .others-box p {
        font-size: 18px;
        padding: 5px 15px;
    }
    .others-box p {
        width: 70%;
    }
    .results-left {
        width: 90%;
    }
    .results-right {
        width: 90%;
    }
    .summ-left {
        width: 100%;
    }
    .worlds-hr {
        width: 60%;
    }
    .worlds-paragraph {
        width: 100%;
        margin-top: 20px;
    }
    .awardee-paragraph {
        width: 100%;
    }
    .cp {
        width: 100%;
    }
    .auto-day2-area {
        width: 50%;
        margin-left: 50px;
    }
    .auto-day2-area2 ol,
    .auto-day2-area2 h3 {
        margin-left: 50px;
    }
    .hidden-top-summ {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
    .worlds-loc2 {
        width: 200px;
        border-radius: 10px;
    }
    .hidden-loc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;
    }
    .hide-it {
        display: none;
    }
    .hidden-prize-left {
        width: 40%;
    }
    .hidden-prize-right {
        width: 50%;
    }
    .hidden-item {
        display: flex;
    }
    .prizing-header {
        margin-left: 20px;
    }
    .hidden-prizing {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .cast-box {
        border: 0px solid grey;
        width: 100%;
        max-width: 100%;
        margin: 0px 10px;
        border-radius: 0px;
        display: flex;
        flex-direction: row;
        /* flex-wrap: wrap; */
    }
    .casters-zone {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 0px;
    }
    .cast-box {
        display: none;
    }
    .summ-right {
        width: 100%;
    }
    .hidden-cast-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    h5 {
        font-size: 20px;
        text-align: center;
        padding-bottom: 8px;
    }
    .hidden-cast {
        display: flex;
        flex-direction: column;
    }
    .top-cast,
    .bottom-cast {
        display: flex;
        justify-content: space-around;
    }
    .casters-zone p {
        width: 80%;
    }
    .gallery {
        width: 100%;
    }
    .two-sets {
        display: flex;
        flex-direction: row;
    }
    .set-logo {
        width: 120px;
        height: auto;
    }
}
@media screen and (max-width: 620px) {
    .modal {
        width: 80%;
    }
    .pok-card-small {
        width: 50px;
    }
    .num-1 {
        width: 17px;
        /* padding: 1px; */
    }
}
@media screen and (max-width: 600px) {
    .others-box {
        width: 150px;
        margin-bottom: 25px;
    }
    .worlds-box p,
    .others-box p {
        font-size: 14px;
        padding: 5px 7px;
    }
    .others-box p {
        width: 80%;
    }
    .others-icons {
        width: 85%;
        margin-top: 20px;
    }
}
@media screen and (max-width: 570px) {  
    .set-icon {
        width: 20px;
    }
    .large-set-icon {
        width: 12px;
    }
    .set-logo {
        width: 125px;
    }
    .hidden-poke {
        display: block;
        top: 150px;
        right: 0;
        width: 280px;
        height: auto;
        opacity: 0.4;
    }
    .big-pika {
        display: block;
        top: 150px;
        right: 0;
        width: 280px;
        height: auto;
        opacity: 0.4;
    }
}
@media screen and (max-width: 530px) {
    .summary,
    .event-results {
        align-items: center;
    }
    .country-txt {
        font-size: 16px;
    }
    .cs-plus-ap p {
        font-size: 13px;
        font-weight: bold;
    }
    .modal-x p {
        font-family: 'Permanent Marker', cursive;
        margin-bottom: 6px;
        padding: 0px 2px;
    }
    .hidden-prize-left {
        width: 60%;
    }
    .hidden-prize-right {
        width: 45%;
    }
    .hidden-hr {
        display: flex;
    }
    .prizing-header {
        margin-bottom: 10px;
        margin-left: 0px;
    }
    .auto-day2-area {
        width: 80%;
        margin-left: 0px;
    }
    .auto-day2-area2 {
        width: 100%;
        margin-left: 0px;
    }
    .auto-day2-area2 ol,
    .auto-day2-area2 h3 {
        margin-left: 0px;
        margin-left: 10px;
    }
    .auto-day2-area2 ol {
        font-size: 14px;
    }
    .results-left {
        width: 100%;
        margin: 0px auto;
    }
    .masters-ol,
    .seniors-ol,
    .juniors-ol {
        margin-left: 20px;
    }
    .list-icon {
        padding-right: 0px;
    }
    .player-deck-icons {
        margin-left: 20px;  
    }
    .results-right {
        margin-top: 25px;
    }
    .worlds-hr {
        display: none;
    }
    .casters-zone p {
        width: 88%;
    }
    .gallery {
        width: 97%;
    }
    .videos-section a img {
        width: 95%;
    }
    .videos-section a p {
        width: 90%;
    }
    .shrink-it {
        width: 100%;
    }
    .results-right {
        margin-bottom: 15px;
    }
    .modal {
        width: 86%;
        padding: 25px 12px;
    }
    .pok-card-small {
        width: 55px;
    }
    .num-1 {
        width: 17px;
        margin-bottom: 2.5px;
    }
    .modal-x {
        font-size: 14px;
        padding: 5px 10px 0px 10px;
    }
}
@media screen and (max-width: 550px) {
    .day2-right {
        margin-left: 90px;
    }
    .rating-zone {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .set-btn {
        font-size: 14px;
    }
}
@media screen and (max-width: 370px) {
    .others-box {
        width: 130px;
        margin-bottom: 25px;
    }
    .worlds-box p,
    .others-box p {
        font-size: 12px;
        padding: 5px 15px;
    }
    .others-box p {
        width: 80%;
    }
    .others-icons {
        width: 95%;
        margin-top: 20px;
    }
    .worlds-box {
        margin: 0px 3px 15px 3px;
    }
    .worlds-box img {
        width: 117px;
        height: 70px;
    }
    .worlds-icons {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 90%;
    }
}
@media screen and (max-width: 380px) {
    .hidden-poke {
        display: block;
        top: 150px;
        right: 0;
        width: 180px;
        height: auto;
        opacity: 0.4;
        margin-top: 25px;
    }
    .big-pika {
        display: block;
        top: 150px;
        right: 0;
        width: 180px;
        height: auto;
        opacity: 0.4;
        margin-top: -10px;
    }
    .set-icon {
        width: 15px;
    }
    .set-logo {
        width: 75px;
    }
    .auto-day2-area2 ol {
        font-size: 10px;
    }
    .promo-card p,
    .promo-card2 p {
        font-size: 12px;
}
}
@media screen and (max-width: 364px) {
    .set-btn {
        font-size: 12px;
    }
}