* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
html,body{
    overflow-x: hidden;
}
hr {
    border: 0;
    height: 0.02em;
    background-color: grey;
}
.legends {
    font-family: 'Permanent Marker', cursive;
    font-size: 46px;
    color: rgb(75, 67, 0);
}
#progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient( to top, red, black);
    z-index: 1000;
}
#top-nav {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: sticky;
    margin-bottom: 25px;
}
#nav-left {
    margin: 0px 0px 0px 40px;
}
#nav-left a {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#nav-left h1 {
    font-size: 36px;
    margin-left: 15px;
    color: black;
}
#nav-left img {
    width: 70px;
}
.fa-chevron-down {
    font-size: 14px;
}
#nav-right {
    margin-right: 75px;
}
#nav-right a {
    font-size: 24px;
    margin-left: 30px;
}
#nav-right a:hover {
    background: linear-gradient(to top right, red, rgb(182, 0, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.inactive {
    background: linear-gradient(to top right, black, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.active {
    background: linear-gradient(to top right, rgb(255, 0, 0), rgb(255, 166, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.active-extra {
    background: linear-gradient(to top right, rgb(99, 161, 255), rgb(209, 206, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#center-a-container {
    display: flex;
    justify-content: center;
}
#container {
    width: 55%;
    max-width: 100%;
}
.contain-extra-nav {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}
.extra-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 49, 49);
    padding: 15px 0px;
}
.extra-nav a {
    color:white;
    margin: 0px 50px;
    transition: ease all 0.2s;
}
.extra-nav a:hover {
    text-decoration: underline;
}

.small-text {
    font-size: 12px;
}
.italic {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
.margin-top {
    margin-top: 25px;
}
.margin-bottom {
    margin-bottom: 25px;
}
.crossed-out {
    text-decoration: line-through;
}

@media screen and (max-width: 1150px) {
    #nav-right {
        margin-right: 50px;
    }
    #nav-right a {
        font-size: 18px;
        margin-left: 20px;
    }
    #nav-left h1 {
        font-size: 28px;
        margin-left: 12px;
    }
    .legends {
        font-size: 38px;
    }
    #nav-left img {
        width: 55px;
    }
}
@media screen and (max-width: 900px) {
    #nav-right {
        margin-right: 30px;
    }
    #nav-right a {
        font-size: 16px;
        margin-left: 15px;
    }
    #nav-left h1 {
        font-size: 25px;
        margin-left: 8px;
    }
    .legends {
        font-size: 33px;
    }
    #nav-left img {
        width: 40px;
    }
    #top-nav {
        height: 80px;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }
    #nav-left {
        margin: 0px 0px 0px 0px;
    }
    .fa-chevron-down {
        font-size: 10px;
    }
}
@media screen and (max-width: 750px) {
    .extra-nav {
        padding: 15px 0px;
    }
    .extra-nav a {
        margin: 0px 30px;
        font-size: 14px;
    }
}
@media screen and (max-width: 600px) {
    .extra-nav {
        justify-content: space-around;
    }
    .extra-nav a {
        margin: 0px 0px;
    }
    #nav-right {
        margin-right: 0px;
    }
    #nav-right a {
        font-size: 14px;
        margin-left: 0px;
        margin: 0px 7px;
    }
}
@media screen and (max-width: 400px) {
    .extra-nav a {
        margin: 0px 0px;
        font-size: 11px;
    }
    #nav-right a {
        font-size: 12px;
        margin: 0px 5px;
    }
    #top-nav {
        height: 70px;
        margin-top: 5px;
        justify-content: space-around;
    }
    #nav-left {
        margin-bottom: 4px;
    }
}
